html {
  background-color: lightcyan;
}

#main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: black;
  font-size: 110%;
}

p1 {
  font-style: italic;
  position: relative;
  bottom: 8px;
}

#img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#tribute-info {
  text-align: left;
  font-size: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 25px 25px 25px 25px;
  font-size: 92%;
}
